* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 22pt;
  font-weight: 200;
}
header {
  background-color: rgb(248 249 250);
  padding: 1rem;
}

h1 {
  font-size: 55pt;
  font-weight: 500;
}

h2 {
  padding-bottom: 20px;
  font-size: 30pt;
  font-weight: 500;
}
main {
  padding-left: 95px;
  padding-right: 95px;
  display: flex;
  flex-direction: column;
}

.card {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgb(210, 210, 210);
  padding: 35px;
}

button {
  display: block;
  padding: 20px;
  border-radius: 10px;
  border-style: none;
  color: white;
  background-color: rgb(15 110 253);
  cursor: pointer;
  font-size: 22pt;
  font-weight: 400;
}

button.active {
  color: black;
  background-color: rgb(255 193 9);
}

#button-row {
  display: flex;
  gap: 1rem;
  margin-top: 80px;
  margin-bottom: 80px;
}
